<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
    <div class="container mx-auto h-screen flex items-center justify-center">
        <form action="#" method="POST" class="text-primary" [formGroup]="contactForm" (ngSubmit)="loginEmployee()">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="grid grid-cols-1 gap-x-8 gap-y-1 sm:grid-cols-2">
                    <div class="sm:col-span-2">
                        <mat-form-field class="example-full-width">
                            <mat-label for="email" class="text-sm font-semibold leading-6">Email</mat-label>
                            <input matInput placeholder="spooderman@gmail.com" type="email" name="email" id="email" class="input-ringless text-secondary block w-full rounded-md " formControlName="email" required>
                            <mat-error *ngIf="contactForm.get('email')?.invalid">
                                {{checkEmail()}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="example-full-width">
                            <mat-label for="password"class="text-sm font-semibold leading-6">Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" name="password" id="password" class="input-ringless text-secondary block w-full rounded-md"formControlName="password" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="contactForm.get('password')?.hasError('required')">
                                    {{checkPassword()}}
                                </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-5">
                    <button mat-raised-button  color="primary" type="submit" [disabled]="!contactForm.valid" class="block w-full rounded-md  px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm ">Sign In</button>
                </div>
            </div> 
        </form>
    </div>
</div>